# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/

# Data & models
data/
models/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
